page-more {
  ion-header .toolbar-ios ion-title,
  ion-header .toolbar-md ion-title{
    background-color: #1296db;
  }
  .all-content{
    background-color: #eeeeee;
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block,
    .list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block{
      border-bottom: none;
    }
    .list-ios > .item-block:first-child,.list-md > .item-block:first-child{
      border-top: none;
    }
    .list-ios .item-block .item-inner,
    .list-md .item-block .item-inner{
      border-bottom: none;
    }
    ion-icon{
      color: #9d9d9d;
    }
    ion-item{
      overflow: hidden;
      margin: 10px 0;
      .label-ios,.label-md{
        margin: 5px 8px 5px 0;
      }
      img{
        float: left;
        width: 50px;
        height: 50px;
      }
      h3{
        float: left;
        line-height: 50px;
        margin-left: 10px;
      }
      label{
        float: right;
        line-height: 50px;
      }
    }

  }

}
