page-position{
  .toolbar-ios ion-title,.toolbar-md ion-title{
    padding: 0 0 1px;
  }
  .toolbar-title-ios,.toolbar-title-md{
    height: 100%;
  }
  ion-header .toolbar-ios ion-title,
  ion-header .toolbar-md ion-title{
    background-color: #1f2229;
    overflow: hidden;
    button,.history{
      float: left;
      width: 20%;
      background-color: #1f2229;
      color: #d9bc84;
      height: 100%;

    }
    button:last-child{
      overflow: hidden;
      height: 30px;
      border:1px solid #d9bc84;
      border-radius: 5px;
      width: 70%;
      margin:7px 15%;
      text-align: center;
      line-height: 30px;
      padding: 0;


    }
    h3{
      float: left;
      font-size: 16px;
      width: 60%;
      border-left: 1px solid #32353c;
      border-right: 1px solid #32353c;
      margin:0;
      color: #d9bc84;
      height: 100%;
      line-height: 44px;
    }
  }
  .all-content{
    background-color: #232730;
    .row1{
      background-color: #2c3039;

      .note-ios,.note-md{
        color: #696d76;
      }
      .col:nth-child(2){
        text-align: right!important;
      }
      //.col:last-child{
      //  text-align: left!important;
      //}
    }

    .item-ios,.item-md{
      background-color: #232730;
      color: #d9bc84;
      padding-left: 0;
    }

    .row3 .col:nth-child(3){
      text-align: center;
    }
    .row3 .col:nth-child(2){
      text-align: right;
    }
    [icon-right] ion-icon, [icon-end] ion-icon{
      color: #3b3f48;
    }
    .list-ios .item-block .item-inner,
    .list-md .item-block .item-inner{
      border-bottom: 0.55px solid #333740;;
    }
    .item-ios.item-block .item-inner,
    .item-md.item-block .item-inner{
      padding-left: 8px;
    }

    .color-blue{
      color: #4dc391;
    }
    .color-red{
      color: #ec130c;
    }
  }

}
