page-deal{
  ion-header .toolbar-ios ion-title,
  ion-header .toolbar-md ion-title{
    background-color: #1296db;
  }

  .all-content{
    background-color: #eeeeee;
    .row1{
      background-color: #34405a;
      .col{
        padding: 15px 5px;
      }

      .note-ios,.note-md{
        color: #fff;
        display: block;
      }
    }

    .item-ios,.item-md{
      background-color: #fff;
      color: #d9bc84;
      padding-left: 0;
      width: 94%;
      margin: 10px 3%;
      p{
        color: #333333;
      }
      p.num{
        label:first-child{
          float: left;
        }
        label:last-child{
          float: right;
        }
      }
      p:last-child{
        text-align: right;
      }
    }
    .list-ios .item-block .item-inner,
    .list-md .item-block .item-inner{
      border-bottom:none;
    }
    .item-ios.item-block .item-inner,
    .item-md.item-block .item-inner{
      padding-left: 8px;
    }
    .list-ios > .item-block:first-child,
    .list-md > .item-block:first-child{
      border-top:none;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block,
    .list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block{
      border-bottom:none;
    }

    .color-blue{
      color: #008001!important;
    }
    .color-red{
      color: #fe0000!important;

    }
  }

}
