page-raisequestion{
  .toolbar-ios ion-title,.toolbar-md ion-title{
    padding: 0 0 1px;
  }
  .toolbar-title-ios,.toolbar-title-md{
    height: 100%;
  }
  ion-header .toolbar-ios ion-title,
  ion-header .toolbar-md ion-title{
    background-color: #1296db;
    overflow: hidden;
    button,.history{
      float: left;
      width: 20%;
      color: #fff;
      height: 100%;
      background-color: #1296db;
    }
    button:last-child{
      overflow: hidden;
      height: 30px;
      border-radius: 5px;
      width: 70%;
      margin:7px 15%;
      text-align: center;
      line-height: 30px;
      padding: 0;
      img{
        width: 20px;
        height: auto;
        margin:5px auto;
      }
    }
    h3{
      float: left;
      font-size: 16px;
      width: 60%;
      margin:0;
      color: #fff;
      height: 100%;
      line-height: 44px;
    }
  }

  .all-content{
    background-color: #eeeeee;
    textarea.text-input{
      background-color: #fff;
      border: 1px dashed #000;
      height: 150px;
    }
    .text-input-ios,.text-input-md{
      margin: 5px 8px 5px 8px;
      width: calc(100% - 16px);
    }

    .color-blue{
      color: #008001!important;
    }
    .color-red{
      color: #fe0000!important;

    }
  }
}
