page-historydetail{
  .toolbar-ios ion-title,.toolbar-md ion-title{
    padding: 0 0 1px;
  }
  .toolbar-title-ios,.toolbar-title-md{
    height: 100%;
  }
  ion-header .toolbar-ios ion-title,
  ion-header .toolbar-md ion-title{
    background-color: #1296db;
    overflow: hidden;
    button,.history{
      float: left;
      width: 20%;
      color: #fff;
      height: 100%;
      background-color: #1296db;
    }
    button:last-child{
      overflow: hidden;
      height: 30px;
      border-radius: 5px;
      width: 70%;
      margin:7px 15%;
      text-align: center;
      line-height: 30px;
      padding: 0;
    }
    h3{
      float: left;
      font-size: 16px;
      width: 60%;
      margin:0;
      color: #fff;
      height: 100%;
      line-height: 44px;
    }
  }

  .all-content{
    background-color: #eeeeee;
    .list-ios > .item-block:first-child,
    .list-md > .item-block:first-child{
      border-top:none;
    }
    .item-ios,.item-md{
      background-color: #eeeeee;
    }
    .label-ios,.label-md {
      margin: 5px 8px 5px 0;
    }
    .item-ios:last-child,.item-md:last-child{
      ion-label{
        white-space: inherit!important;
      }
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block,
    .list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block{
      border-bottom: none;
    }
    .list-ios .item-block .item-inner,
    .list-md .item-block .item-inner{
      border-bottom: none;
    }
    .list{
      background-color: #eeeeee;

      ion-item{
        p{
          color: #000;
        }
      }
    }
    .color-blue{
      color: #008001!important;
    }
    .color-red{
      color: #fe0000!important;
    }
    .color-orange{
      color: #f88518!important;
    }
    .open{
      padding: 0px 16px;
      button{
        background-color: #fe0000;
      }
    }
    }

}
