<ion-header>
  <ion-navbar>
    <ion-title>历史订单</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>
      <button (click)="goBack()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <h3>历史订单</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="all-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="加载中……">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let item of itemx;let i=index" (click)="goDealdetail(item.id)">
      <p>订单号：<span>{{item.order_id}}</span></p>
      <p>产品信息：<span>{{item.product.name}}</span></p>
      <p class="num"><label>数量：<span>{{item.quantity}}</span>手</label><label class="color-blue">类型：<span>{{item.direction==0?'买涨':'买跌'}}</span></label></p>
      <p class="num"><label>状态：<span>{{item.order_status==0?'持仓':'平仓'}}</span></label><label class="color-red">盈亏：<span>{{item.pl_funds}}</span></label></p>
      <p>交易时间：<span>{{item.create_time}}</span></p>
    </ion-item>

  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfiniteMember($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多……">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <p *ngIf="!itemx.length" class="remind-not">暂无资金明细！</p>
</ion-content>
