page-my{
  ion-header .toolbar-ios ion-title,
  ion-header .toolbar-md ion-title{
    background-color: #1296db;
  }
  .all-content{
    background-color: #efefef;
    position: relative;
    .list-ios,.list-md{

      margin: -1px 0 0px;
      .item-block{
        background-color: #1296db;
        color: #fff;
        p{
          color: #fff;
        }
      }
      .item-ios ion-avatar ion-img,
      .item-ios ion-avatar img,
      .item-md ion-avatar ion-img,
      .item-md ion-avatar img
      {
        width: 70px;
        height: 70px;

      }
    }

    .row1{
      background-color: #fff;
      margin:10px 10px 0;

      .col{
        padding: 15px 5px;
      }
      .col:nth-child(2){
        border-left:1px solid #d3d3d3;
        border-right:1px solid #d3d3d3;
      }

      .note-ios,.note-md{
        display: block;
        img{
          width: 60px;
          height: auto;
        }
      }
    }
    .row1:last-child{
      margin:0 10px;
    }
    .open{
      position: absolute;
      bottom: 20px;
      width: 100%;
      button{
        background-color: #fd9a63;
      }
    }

  }

}
